<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrueCare Hospital</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/menu1">Patients</a></li>
        <li><a href="/menu2">Doctors</a></li>
        <li><a href="/menu3" class="vogue">Appointments</a></li>
      </ul>
    </nav>
  </header>
  <section class="cover">
    <img src="img/hospital-management-system.png" alt="tlt">
    <div class="overlay"></div>
    </section>
  <main>
    <h1>Welcome to TrueCare Hospital</h1>
    <p>Your health, our promise.</p>
    <!--<footer>
    <p style="font-size: 20px; padding: 10px; margin-left: 38%; margin-top: 100%;">&copy; 2024 TrueCare. All rights reserved.</p>
</footer>-->
  </main>

  <script src="/js/script.js"></script>
  
</body>
</html>